<a href="https://colab.research.google.com/github/RickyMacharm/WorldQuant_Python/blob/master/WQU_Algo_FinalGroupAssignments_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###First Time Run
Run his cell only if you are running this notebook for the very first time on colab or on a new `Google` account. If the cell is commented, Higlight the contents and use a combination of `'ctrl'` plus `'/'` keys to uncomment the cell.

Click on the url given:( `Go to this URL in a browser: https://accounts.google.com/o/oauth2/XXXXX.....`) after you run the cell and choose the `Google` account you intend to use for running colab and get the authorization code generated.

In [0]:
# from fastai.basics import *
# from google.colab import drive
# drive.mount('/content/gdrive', force_remount=True)
# root_dir = "/content/gdrive/My Drive/"
# base_dir = root_dir + 'WQU_R/'

# path = Path(base_dir)

# path.mkdir(parents=True, exist_ok=True)


# import os
# os.chdir(path)

### Next Time Run
If you have ran this notebook on colab on the same Google account before now and all the folders have been created, you can run this cell after the first runtime has expired. Colab as of 2019 only allows `12` hours of free runtime before resetting.

If the cell is commented, Higlight the contents and use a combination of `'ctrl'` plus `'/'` keys to uncomment the cell.

Click on the url given:( `Go to this URL in a browser: https://accounts.google.com/o/oauth2/XXXXX.....`) after you run the cell and choose the `Google` account you intend to use for running colab and get the authorization code generated.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

from fastai.basics import *
path = Path('/content/drive/My Drive/WQU_R')

#we want to change the present working directory to that of path assigned above.
import os
os.chdir(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Part 1: R
We will be running this part using the R programming language.

### Running R on Colab
In order to run R successfully on colab, we need to execute the following code `%load_ext rpy2.ipython` in a cell first of all.

In [0]:
%load_ext rpy2.ipython

For every cell we next run, if the codes are R codes, we would need to remember to include `%%R` at the begining of the cell.

To be able to access the S&P500 data, we need to use a library called `quantmod`. We check if it is installed, if not we installing it before bringing it out to use.

We also check for other libraries like `'lattice'`.

In [0]:
%%R
if (!require("quantmod")) {
      install.packages("quantmod")
      library(quantmod)
  }

In [0]:
%%R
if (!require("lattice")) {
      install.packages("lattice")
      library(lattice)
  }

/usr/local/lib/python3.6/dist-packages/rpy2/rinterface/__init__.py:146: RRuntimeWarning: Loading required package: lattice

  warnings.warn(x, RRuntimeWarning)

The ticker symbol is `'^GPSC'`. We use the quantmod function getSymbols, and pass a string as a first argument to identify the desired ticker symbol, pass 'yahoo' to src for `Yahoo! Finance` or leave it out as it is the default source, and 'from' and 'to' specify date ranges.
 
The default behavior for getSymbols is to load data directly into the global environment, with the object being named after the loaded ticker symbol.

In [0]:
%%R
start <- '1950-01-01'; end <- '2019-10-01'

In [0]:
%%R
getSymbols("^GSPC", src = "yahoo", from = start, to = end)

[1] "^GSPC"

Daily returns calculated on the close.

In [0]:
%%R
snp_returns <- dailyReturn(Cl(GSPC), type='log')

Let us see how our data looks.

In [0]:
%%R

head(snp_returns)

           daily.returns
1950-01-03   0.000000000
1950-01-04   0.011340020
1950-01-05   0.004736539
1950-01-06   0.002948985
1950-01-09   0.005872007
1950-01-10  -0.002931635

We want to also calculate some  indicators. We will need the closing prices of the GSPC. The next line of codes would helo us with that.

In [0]:
%%R
snp_close <- GSPC[,'GSPC.Close']

head(snp_close)

           GSPC.Close
1950-01-03      16.66
1950-01-04      16.85
1950-01-05      16.93
1950-01-06      16.98
1950-01-09      17.08
1950-01-10      17.03

### Technical Indicators
The next sets of codes would be for the indicators and thevariable names chosen would be self explanatory.

In [0]:
%%R
# Moving average of period 10
average10<- rollapply(snp_close,10,mean)
tail(average10)

           GSPC.Close
2019-09-23   2999.831
2019-09-24   2998.552
2019-09-25   2996.946
2019-09-26   2993.751
2019-09-27   2989.191
2019-09-30   2987.069

In [0]:
%%R
# Moving average of period 25
average25<- rollapply(snp_close,25,mean)
tail(average25)

           GSPC.Close
2019-09-23   2951.227
2019-09-24   2952.945
2019-09-25   2956.319
2019-09-26   2958.447
2019-09-27   2960.000
2019-09-30   2965.186

In [0]:
%%R
#Implementing Standard Deviation
std10<- rollapply(snp_close,10,sd)
print(tail(std10))

std20<- rollapply(snp_close,20,sd)
print(tail(std20))

           GSPC.Close
2019-09-23   9.603544
2019-09-24  12.910582
2019-09-25  13.564233
2019-09-26  14.015626
2019-09-27  16.314585
2019-09-30  16.426933
           GSPC.Close
2019-09-23   47.74664
2019-09-24   43.38356
2019-09-25   36.79192
2019-09-26   30.82199
2019-09-27   28.47530
2019-09-30   25.60808

In [0]:
%%R
# implementing the Relative Strength Index (RSI)

rsi5<- RSI(snp_close,5,"SMA")
print(tail(rsi5))

rsi14<- RSI(snp_close,14,"SMA")
print(tail(rsi14))

                 rsi
2019-09-23 37.038781
2019-09-24  2.640715
2019-09-25 31.322748
2019-09-26 27.804033
2019-09-27 27.342114
2019-09-30 40.770715
                rsi
2019-09-23 80.69048
2019-09-24 60.83622
2019-09-25 53.92378
2019-09-26 49.53651
2019-09-27 43.75006
2019-09-30 49.09935

In [0]:
%%R
# Implementing the Moving Average Convergence Divergergence (MACD)

macd12269<- MACD(snp_close,12,26,9,"SMA")
print(tail(macd12269))

macd7205<- MACD(snp_close,7,20,5,"SMA")
print(tail(macd7205))

                macd   signal
2019-09-23 1.6096719 1.420868
2019-09-24 1.4723218 1.497796
2019-09-25 1.4096102 1.544999
2019-09-26 1.3029172 1.554788
2019-09-27 1.1434720 1.520898
2019-09-30 0.9803877 1.456131
                 macd    signal
2019-09-23  1.2858782 1.6630694
2019-09-24  0.9389598 1.4834087
2019-09-25  0.6796581 1.2611521
2019-09-26  0.3933413 0.9835116
2019-09-27  0.1151935 0.6826062
2019-09-30 -0.1131568 0.4027992

In [0]:
%%R
# Implementing Bollinger Bands

bollinger_bands<- BBands(snp_close,20,"SMA",2)

print(tail(bollinger_bands))

                 dn     mavg       up      pctB
2019-09-23 2870.026 2963.101 3056.176 0.6540637
2019-09-24 2882.942 2967.512 3052.082 0.4946087
2019-09-25 2901.577 2973.297 3045.018 0.5806784
2019-09-26 2917.698 2977.782 3037.865 0.4986569
2019-09-27 2924.133 2979.642 3035.151 0.3391963
2019-09-30 2932.237 2982.156 3032.075 0.4457523

we now calculate the returns over the
last 25 days.

In [0]:
%%R
lagreturn<- (snp_close - Lag(snp_close,25)) / Lag(snp_close,25)

tail(lagreturn)

           GSPC.Close
2019-09-23 0.03569108
2019-09-24 0.01469061
2019-09-25 0.02908458
2019-09-26 0.01818822
2019-09-27 0.01328798
2019-09-30 0.04553034

We now Create a fresh dataframe using cbind function for all the indicators and the 25 day lag returns.

In [0]:
%%R
SnP500 <- cbind(snp_close,average10,average25,std10,
                   std20,rsi5,rsi14,macd12269,macd7205,
                   bollinger_bands, lagreturn)

df = as.data.frame(SnP500)

We will now store what we have created into a csv file for use in the next section.

In [0]:
%%R
if (!require("tibble")) {
      install.packages("tibble")
      library(tibble)
  }

In [0]:
%%R
if (!require("dplyr")) {
      install.packages("dplyr")
      library(dplyr)
  }

In [0]:
%%R
snp500 <- rownames_to_column(df, var="date")
head(snp500)

        date GSPC.Close GSPC.Close.1 GSPC.Close.2 GSPC.Close.3 GSPC.Close.4
1 1950-01-03      16.66           NA           NA           NA           NA
2 1950-01-04      16.85           NA           NA           NA           NA
3 1950-01-05      16.93           NA           NA           NA           NA
4 1950-01-06      16.98           NA           NA           NA           NA
5 1950-01-09      17.08           NA           NA           NA           NA
6 1950-01-10      17.03           NA           NA           NA           NA
       rsi rsi.1 macd signal macd.1 signal.1 dn mavg up pctB GSPC.Close.5
1       NA    NA   NA     NA     NA       NA NA   NA NA   NA           NA
2       NA    NA   NA     NA     NA       NA NA   NA NA   NA           NA
3       NA    NA   NA     NA     NA       NA NA   NA NA   NA           NA
4       NA    NA   NA     NA     NA       NA NA   NA NA   NA           NA
5       NA    NA   NA     NA     NA       NA NA   NA NA   NA           NA
6 89.36189    NA   NA     NA     NA       NA NA   NA NA   NA           NA

In [0]:
%%R
write.csv(snp500, file='SnP500.csv', row.names=FALSE)

# Part 2: Python 
This next part will be executed in Python including the Machine Learning and / or Neural Network section.

We are going to use the `fast.ai` modules.

In [0]:
from fastai import *
from fastai.tabular import *

We load the csv file and view it and make sure that the date column is in a datetime format, then we view what we have imported.

In [0]:
df = pd.read_csv('SnP500.csv')
df = df.dropna()
df['date'] = df['date'].astype('datetime64[D]')
df.tail()

            date   GSPC.Close  ...      pctB  GSPC.Close.5
17544 2019-09-24  2966.600098  ...  0.494609      0.014691
17545 2019-09-25  2984.870117  ...  0.580678      0.029085
17546 2019-09-26  2977.620117  ...  0.498657      0.018188
17547 2019-09-27  2961.790039  ...  0.339196      0.013288
17548 2019-09-30  2976.739990  ...  0.445752      0.045530

[5 rows x 17 columns]

we use the `'info()'` function to verify that all columns contain `floats` and the date column contains ``datetime`` objects.

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17516 entries, 33 to 17548
Data columns (total 18 columns):
date            17516 non-null datetime64[ns]
GSPC.Close      17516 non-null float64
GSPC.Close.1    17516 non-null float64
GSPC.Close.2    17516 non-null float64
GSPC.Close.3    17516 non-null float64
GSPC.Close.4    17516 non-null float64
rsi             17516 non-null float64
rsi.1           17516 non-null float64
macd            17516 non-null float64
signal          17516 non-null float64
macd.1          17516 non-null float64
signal.1        17516 non-null float64
dn              17516 non-null float64
mavg            17516 non-null float64
up              17516 non-null float64
pctB            17516 non-null float64
GSPC.Close.5    17516 non-null float64
direction       17516 non-null object
dtypes: datetime64[ns](1), float64(16), object(1)
memory usage: 2.5+ MB

### Indicate Up, Down and Nowhere directions

We are now done with the indicators for now. We now turn our attention to generating Directions.

1. Return over the last 20 days > 2 % -> Up direction

2. Return over the last 20 days is between -2 % and 2 % -> Nowhere

3. Return over the last 20 days < - 2 % -> Down direction

We will now generate a data frame named direction which consists of NA (null values) and a number of rows the same as the number of rows in GSPC and one column

In [0]:
def dir(lag):
  if lag > 0.02: return 'up'
  elif lag < -0.02: return 'down'
  else: return 'nowhere'
  
  
  
df['direction'] = df.apply(lambda x: dir(x['GSPC.Close.5']), axis=1)

In [0]:
df.head()

         date  GSPC.Close  GSPC.Close.1  ...      pctB  GSPC.Close.5  direction
33 1950-02-20   17.200001        17.174  ...  0.677997      0.031794         up
34 1950-02-21   17.170000        17.159  ...  0.620256      0.026914         up
35 1950-02-23   17.209999        17.157  ...  0.657357      0.020759         up
36 1950-02-24   17.280001        17.164  ...  0.745729      0.025519         up
37 1950-02-27   17.280001        17.164  ...  0.744319      0.024303         up

[5 rows x 18 columns]

We are going to set the date ad the index and delete two columns that are not needed, `'GSPC.Close'` and `'GSPC.Close.5'`.

In [0]:
df = df.set_index('date', inplace=False)

df.head()

            GSPC.Close  GSPC.Close.1  ...  GSPC.Close.5  direction
date                                  ...
1950-02-20   17.200001        17.174  ...      0.031794         up
1950-02-21   17.170000        17.159  ...      0.026914         up
1950-02-23   17.209999        17.157  ...      0.020759         up
1950-02-24   17.280001        17.164  ...      0.025519         up
1950-02-27   17.280001        17.164  ...      0.024303         up

[5 rows x 17 columns]

In [0]:
print(list(df.columns))

['date', 'GSPC.Close', 'GSPC.Close.1', 'GSPC.Close.2', 'GSPC.Close.3', 'GSPC.Close.4', 'rsi', 'rsi.1', 'macd', 'signal', 'macd.1', 'signal.1', 'dn', 'mavg', 'up', 'pctB', 'GSPC.Close.5', 'direction']

In [0]:
dep_var = 'direction'
cat_names = []
cont_names = ['GSPC.Close.1', 'GSPC.Close.2', 'GSPC.Close.3', 'GSPC.Close.4', 'rsi', 'rsi.1', 'macd', 'signal', 'macd.1', 'signal.1', 'dn', 'mavg', 'up', 'pctB']
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[10000:17516].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(10000,17516)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [0]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [0]:
learn.fit(6, 1e-2)

In [0]:
row = df.iloc[0]

In [0]:
learn.predict(row)

(Category up, tensor(2), tensor([0.0049, 0.3798, 0.6154]))

Our accuracy looks good. We will save it for next time.

In [0]:
learn.save('algo-1-tbl')